
<p-table [columns]="cols" [value]="historyEvents" selectionMode="single" [(selection)]="selectedEvent" [lazy]="true"
	(onLazyLoad)="lazyLoadHistoryEvents($event)" [loading]="loadingFlag" [paginator]="true" [rows]="10"
	[totalRecords]="totalRecords">

	<ng-template pTemplate="header" let-columns>
		<tr>
			<th *ngFor="let col of columns">
				{{col.header}}
			</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-rowData let-columns="columns">
		<tr>
			<td *ngFor="let col of columns" (click)="showHistoryEventDetails($event, rowData)">
				{{rowData[col.field]}}
			</td>
		</tr>
	</ng-template>
</p-table>



<!-- View history event details-->

<p-dialog header="Account Event Details" [(visible)]="eventDetailsVisibleFlag" [modal]="true" [responsive]="true"
	[style]="{width: '450px', minWidth: '400px', height: '600px',minheight: '200px'}" [minY]="70" [maximizable]="true"
	[baseZIndex]="10000">
	<div>

		<pre class="prettyprint">{{this.eventDetailsText | json}}</pre>


	</div>
	<!--
	<p-footer>

		<button type="button" pButton icon="pi pi-close" (click)="closeEventDialog()" label="Close"
			class="ui-button-secondary"></button>
	</p-footer>
	-->
</p-dialog>