<p-toast [style]="{marginTop: '80px'}" position="top-center"></p-toast>

 

 
    <h1>Password Utilities</h1>
  

  <img   src="assets/images/the-framed-bear-8wewP5tpt-4-unsplash-sm.jpg" height="25%" width="25%"
    alt="Card image cap">

   
    <h5 >Recover Password</h5>

    <p  >If you have forgotten your password enter it below and a recovery code will be emailed to you.
    </p>

    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="pi pi-envelope" style="line-height: 1.25;"></i></span>
      <input id="float-input" type="text" pInputText name="email" placeholder=" Email Address" [(ngModel)]="email">
    </div>
     <br>
      
      <button style="width=200px" pButton type="button" (click)=recoverPasswordWithEmail() label="Send Recovery Email"> </button>
    
    


  

  

 


 
  <h5  >Reset Password</h5>
  <p  >Enter your email and the recovery code you received in the mail.
  </p>
  <div class="ui-inputgroup">

    <div>
      <span class="ui-inputgroup-addon"><i class="pi pi-envelope" style="line-height: 1.25;"></i></span>
      <input id="float-input" type="text" pInputText name="email" placeholder=" Email Address"
        [(ngModel)]="resetPasswordModel.email">
    </div>

    <br>
    <div>
      <span class="ui-inputgroup-addon"><i class="pi pi-cog" style="line-height: 1.25;"></i></span>
      <input id="float-input" type="text" pInputText name="recoveryCode" placeholder=" RecoveryCode"
        [(ngModel)]="resetPasswordModel.recoveryCode">
    </div>
<br>

    <div>
      <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
      <input id="float-input" type="password" pInputText name="newPassword" placeholder=" New Password"
        [(ngModel)]="resetPasswordModel.newPassword">
    </div>


    <div>
      <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
      <input id="float-input" type="password" pInputText name="passwordConfirm" placeholder=" Confirm Password"
        [(ngModel)]="resetPasswordModel.passwordConfirm">

    </div>
  </div>
   

    <button pButton type="button" (click)=resetPassword() class="ui-button-raised ui-button-rounded"
      label="Reset Password"> </button>
  

< 